.welcome {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

button:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

.left {
    width: 90%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

.left button {
    background: #2952e3;
    padding: 7px;
    border: none;
    width: 120px;
    color: white;
    margin-bottom: 8px;
}

.left-3 {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.left-3>div {
    width: 30%;
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 8px;
    border-radius: 4px;
}

.left-3>div:hover {
    border: 1px solid #2952e3;
    background-color: #2952e3;
    color: white;
}

.right {
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}


.right-1 {

    background-color: red;
    width: 250px;
    height: 130px;
    border-radius: 8px;
}

.right-2 {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.right-2 input {
    padding: 5px;
    margin: 6px;
    border: none;
    background-color: #d2d2d2;
    border-radius: 3px;
}

.right-2 button {
    background: #2952e3;
    padding: 7px;
    border: none;
    color: white;
}







/* media query */
@media screen and (max-width: 500px) {
    .right-1 {

        background-color: red;
        width: 190px;
        height: 107px;
        border-radius: 8px;
    }

    .left-3 {
        width: 80%;
    }

    .welcome {
        padding: 1px;
    }
}

button:hover {
    background-color: #ffffff;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}